<!DOCTYPE html>
<html lang="en">
<head>
    <title>SUBMITPAGE</title>
</head>
<body>

    <p>Enter your original URL stating with http:
               
    </p>
    <form method="POST">
        <input name="long">
        <input type="submit">
    </form>

</body>
</html>